@font-face {
    font-family: myFirstFont;
    src: url(VT323-Regular.ttf);
}

body{
    font-family: myFirstFont;
    height: 100vh;
    width: 100vw;
    position: relative;
}
html{
    overflow: hidden;
}

/* Watch */
.watch-cont{
    height: 500px;
    width: 500px;
    border: 7px solid rgb(4, 255, 0);
    justify-content: center;
    border-radius: 50%;
    position: relative;
    & > div > span{
        color: lime;
        font-size: 100px;
    }
    .milli_sec{
        font-size: 30px;
    }
}

.settimer-cont{
    color: lime;
    max-width: 500px;
    font-size: 80px;
    padding-left: 100px;
    span{
     position: relative;   
    }
}

.control-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
        border-left: 40px solid transparent;
        border-top: 40px solid lime;
        margin: 20px;
        transform: rotate(45deg);
}
.stop{
    border: 20px solid lime;
}
.stop_parent, .play_parent{
    position: relative;
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.stop_parent > div {
    z-index: -1;
    position: absolute;
    right: 4px;
    bottom: 4px;
    display: none;
}

.gradient-green-repeat{
    background: linear-gradient(0deg, black, transparent);
    background-size: 100% 2px;
}


/* Media Width 425px */
@media screen and (max-width : 425px){
    .settimer-cont{
        max-width: unset;
        font-size: 30px;
        padding: 10px;
    }   
    .watch-cont{
        height: 200px;
        width: 200px;
        border-width: 2px;
        & > div > span{
            font-size: 50px;
        }
        .milli_sec{
            font-size: 20px;
        }
    }
    .stop{
        border-width: 10px;
    }
     .play{
        border-width: 30px;
    }
    .stop_parent > div {
        z-index: -1;
        position: absolute;
        right: 11px;
        bottom: 11px;
        display: none;
    }
}