body{
    background:black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'raleway',serif;
}
#bub-wrap{
    position: absolute;
    bottom: 0;
    height:300px;
    width: 100%;
    /* border:1px solid white; */
    margin:0 auto;
    /* position:relative; */
    overflow:hidden;
}
.bub{
    width:300px;
    height:300px;
    background:cyan;
    border-radius:100%;
    position:absolute;
    top:100%;

    animation:animate 2s ease-in-out infinite;
}

@keyframes animate{
 0%,100%{
    transform:translate(0%,0%);
 }
 50%{
    transform:translate(0%,-20%);
 }
}
@keyframes rotate {
    from{
        rotate: 0;
    }
    50%{
        scale: 1 1.5;
    }
    to{
        rotate:360deg;
    }
}
#blob{
    aspect-ratio: 1;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    animation: rotate 5s ease-in infinite forwards;
    background: linear-gradient(120deg,cyan,#890070, #553e84,#3473e3);
}
.onTop{
    backdrop-filter: blur(100px);
    height: 100vh;
    z-index: 2;
    background: transparent;
    width: 100%;
    position: absolute;
    overflow: scroll;
}
.main-content{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
}
#cell-cont{
    color: #000;
    width: 112%;
}
#heading{
    min-width: 22ch;
    font-size: 80px;
    padding-left: 150px;
}

.gradient-purple{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(292deg,#890070, #553e84,#3473e3,#02b35f);
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    -webkit-background-clip: text;
}

.cell{
    transition: 1s ease-in-out;
    background: white;
    width: 50px;
    height: 50px;
    margin: 2px;
    color: black;
}

.h-100{
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
}

/* text style */

