body{
    background:black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'raleway',serif;
}
#bub-wrap{
    position: absolute;
    bottom: 0;
    height:300px;
    width: 100%;
    /* border:1px solid white; */
    margin:0 auto;
    /* position:relative; */
    overflow:hidden;
}
.bub{
    width:300px;
    height:300px;
    background:cyan;
    border-radius:100%;
    position:absolute;
    top:100%;

    animation:animate 2s ease-in-out infinite;
}

@keyframes animate{
 0%,100%{
    transform:translate(0%,0%);
 }
 50%{
    transform:translate(0%,-20%);
 }
}
@keyframes rotate {
    from{
        rotate: 0;
    }
    50%{
        scale: 1 1.5;
    }
    to{
        rotate:360deg;
    }
}
#blob{
    aspect-ratio: 1;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    animation: rotate 5s ease-in infinite forwards;
    background: linear-gradient(120deg,cyan,#890070, #553e84,#3473e3);
}
.onTop{
    backdrop-filter: blur(100px);
    height: 100vh;
    z-index: 2;
    background: transparent;
    width: 100%;
    position: absolute;
    overflow: scroll;
}
.main-content{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    height: 100vh;
    position: relative;
    justify-content: center;
}
#cell-cont{
    color: #000;
    width: 112%;
}
#heading{
    min-width: 22ch;
    font-size: 80px;
    padding-left: 150px;
}

.gradient-purple{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(292deg,#890070, #553e84,#3473e3,#02b35f);
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    -webkit-background-clip: text;
}

.cell{
    transition: 1s ease-in-out;
    background: white;
    width: 50px;
    height: 50px;
    margin: 2px;
    color: black;
}

.h-100{
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
}

/* text style */


/* Watch */
.watch-cont{
    height: 500px;
    width: 500px;
    border: 7px solid rgb(4, 255, 0);
    justify-content: center;
    border-radius: 50%;
    position: relative;
    & > div > span{
        color: #02b35f;
        font-size: 80px;
    }
}

.settimer-cont{
    color: lime;
    font-size: 50px;
    position: absolute;
    left: 100px;
    span{
     position: relative;   
    }
}

.control-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
        border-left: 40px solid transparent;
        border-top: 40px solid lime;
        margin: 20px;
        transform: rotate(45deg);
}
.stop{
    border: 20px solid lime;
}
.stop_parent, .play_parent{
    position: relative;
    width: 50px;
    height: 60px;
}

._1Z{
    z-index: -1;
    position: absolute;
}

.gradient-green-repeat{
    background: linear-gradient(0deg, black, transparent);
    background-size: 100% 2px;
}
.link{
    border: 2px solid;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff1f;
    text-decoration: none;
    margin: 0 20px 0 0;
    &:hover{
        box-shadow: 0 0 5px 7px;
    }
}
.other-link{
    color: rgb(30, 182, 196)
}
.stopwatch-link{
    color: lime;
}
.project-heading{
    font-size: 40px;
}
